--- 
---

/* Header */

/* Color Variables */
$gray1: #eaeaea;
$title-primary: #2e3639;
$link-title: $title-primary;
$link-secondary: #008080;
$text-secondary: #8a979c;

/* General */

.page-header { 
    background-color: #000000; 
    background-image: none; 
}

nav.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav.main-nav li,
nav.main-nav a {
	display: inline-block;
}

nav.main-nav li a {
	padding: 10px;
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        color: $title-primary
    }

    a.title {
        color: $link-title;
        font-size: 2em;
    }
}

.card {
    border-bottom: 1px solid $gray1;
    margin-bottom: 10px;
}

.tag {
    color: $link-secondary;
}

.reading-time {
    color: $text-secondary;
    font-style: italic;
}

/* Paddings */
.padding-10 {
    padding: 10px
}